@{
    ViewBag.Title = "Account";
}
@section head{
    <link href="~/Content/Account.css" rel="stylesheet"/>
}

@section navbar{
<li>
    @Html.ActionLink("主页", "Index","Home")
</li>
<li class="active">
    @Html.ActionLink("用户资料", "Account","Account")
</li>
}


<h2>Account...Coming Soon...</h2>
