@{
    ViewBag.Title = "Forgetpassword";
}
@section head{
    <link href="~/Content/Account.css" rel="stylesheet"/>
}

@section navbar{
<li>
    @Html.ActionLink("主页", "Index","Home")
</li>
<li class="active">
    @Html.ActionLink("忘记密码", "Login","Account")
</li>
}

<h2>ForgetPassword...Coming Soon...</h2>
