@{
    ViewBag.Title = "Userlicence";
}
@section head{
    <link href="~/Content/Account.css" rel="stylesheet"/>
}

@section navbar{
<li>
    @Html.ActionLink("主页", "Index","Home")
</li>
<li class="active">
    @Html.ActionLink("用户手册", "Userlicence","Account")
</li>
}


<h2>Userlicence...Coming Soon...</h2>
